<div class="faq">
	<div class="accordion" id="section1">{{ settings.question_one }}<span></span></div>
		<div class="container">
			<div class="content">
				<p>{{ settings.answer_one }}</p>
			</div>
		</div>
	<div class="accordion" id="section2">{{ settings.question_two }}<span></span></div>
		<div class="container">
			<div class="content">
			<p>{{ settings.answer_two }}</p>
			</div>
		</div>
	<div class="accordion" id="section3">{{ settings.question_three }}<span></span></div>
		<div class="container">
			<div class="content">
			<p>{{ settings.answer_three }}</p>
			</div>
		</div>
	<div class="accordion" id="section4">{{ settings.question_four }}<span></span></div>
		<div class="container">
			<div class="content">
				<p>{{ settings.answer_four }}</p>
			</div>
		</div>
	<div class="accordion" id="section5">{{ settings.question_five }}<span></span></div>
		<div class="container">
			<div class="content">
			<p>{{ settings.answer_five }}</p>
			</div>
		</div>
	<div class="accordion" id="section6">{{ settings.question_six }}<span></span></div>
		<div class="container">
			<div class="content">
			<p>{{ settings.answer_six }}</p>
			</div>
		</div>
	<div class="accordion" id="section7">{{ settings.question_seven }}<span></span></div>
		<div class="container">
			<div class="content">
				<p>{{ settings.answer_seven }}</p>
			</div>
		</div>
	<div class="accordion" id="section8">{{ settings.question_eight }}<span></span></div>
		<div class="container">
			<div class="content">
			<p>{{ settings.answer_eight }}</p>
			</div>
		</div>
	<div class="accordion" id="section9">{{ settings.question_nine }}<span></span></div>
		<div class="container">
			<div class="content">
			<p>{{ settings.answer_nine }}</p>
			</div>
		</div>
	<div class="accordion" id="section10">{{ settings.question_ten }}<span></span></div>
		<div class="container">
			<div class="content">
			<p>{{ settings.answer_ten }}</p>
			</div>
		</div>
</div>