<div class="grid-item one-third medium--one-whole small--one-whole"><!-- GRID SECTION ONE -->
      
      	<figure class="effect-sadie">
	        <img src="{{ 'Base1.jpg' | asset_url }}" alt="Base Img 1" nopin="nopin" />
	        <figcaption>
	            <h4 style="color:#FFF;">{{ settings.base_title_one }}</h4>
	            <p>{{ settings.base_text_one }}</p>
	            <a href="{{ settings.baselink_1 }}">View more</a>
	        </figcaption>         
		</figure>
      
      </div>
      
      <div class="grid-item one-third medium--one-whole small--one-whole"><!-- GRID SECTION TWO -->
	  	
	  	<figure class="effect-sadie">
	        <img src="{{ 'Base2.jpg' | asset_url }}" alt="Base Img 2" nopin="nopin" />
	        <figcaption>
	            <h4 style="color:#FFF;">{{ settings.base_title_two }}</h4>
	            <p>{{ settings.base_text_two }}</p>
	            <a href="{{ settings.baselink_2 }}">View more</a>
	        </figcaption>         
		</figure>
      
      </div>
      
      <div class="grid-item one-third medium--one-whole small--one-whole"><!-- GRID SECTION THREE -->
	  	
	  	<figure class="effect-sadie">
	        <img src="{{ 'Base3.jpg' | asset_url }}" alt="Base Img 3" nopin="nopin" />
	        <figcaption>
	            <h4 style="color:#FFF;">{{ settings.base_title_three }}</h4>
	            <p>{{ settings.base_text_three }}</p>
	            <a href="{{ settings.baselink_3 }}">View more</a>
	        </figcaption>         
		</figure>
      
      </div>