<div class="grid-item large--one-whole medium--one-whole small--one-whole text-center mob_btm">
				<div class="grid-box smlbox">
					<a href="collections/{{ settings.grid3_collection }}" style="color:{{ settings.colorThree }};">
					<img class="grid-img" src="{{ 'Grid3.jpg' | asset_url }}" nopin="nopin" />
					<div class="grid-info {{ settings.grid_align_3 }} colourThree">
						<h2>{{ settings.grid_title_three }}</h2>
						<p>{{ settings.grid_text_three }}</p>
					</div>
					</a>
				</div>
				
			</div>