<div class="grid-item large--one-whole medium--one-whole small--one-whole text-center pad_btm mob_btm">
				
				<div class="grid-box smlbox">
				<a href="collections/{{ settings.grid2_collection }}" style="color:{{ settings.colorTwo }};">
					<img class="grid-img" src="{{ 'Grid2.jpg' | asset_url }}" nopin="nopin" />
					<div class="grid-info {{ settings.grid_align_2 }} colourTwo">
						<h2>{{ settings.grid_title_two }}</h2>
						<p>{{ settings.grid_text_two }}</p>
					</div>
				</a>	
				
				</div>
				
			</div>