<div class="grid-item large--one-whole medium--one-whole small--one-whole text-center mob_btm xtra">
				<div class="grid-box smlbox">
					<a href="collections/{{ settings.grid4_collection }}" style="color:{{ settings.colorFour }};">
					<img class="grid-img" src="{{ 'Grid4.jpg' | asset_url }}" nopin="nopin" />
					<div class="grid-info {{ settings.grid_align_4 }} colourFour">
						<h2>{{ settings.grid_title_four }}</h2>
						<p>{{ settings.grid_text_four }}</p>
					</div>
					</a>
				</div>

			</div>