<div class="grid-item large--one-whole medium--one-whole small--one-whole text-center mob_btm">
				<div class="grid-box bigbox">
					<a href="collections/{{ settings.grid5_collection }}" style="color:{{ settings.colorFive }};">
					<img class="grid-img" src="{{ 'Grid5.jpg' | asset_url }}" nopin="nopin" />
					<div class="grid-info {{ settings.grid_align_5 }} colourFive">
						<h2>{{ settings.grid_title_five }}</h2>
						<p>{{ settings.grid_text_five }}</p>
					</div>
					</a>
				</div>
				
			</div>