<div class="grid">
			
			<div class="grid-item large--one-whole medium--one-whole small--one-whole text-center xtra">
				<div class="grid-box bigbox">
					<a href="/pages/device-checker" style="color:{{ settings.colorOne }};">
					<img class="grid-img" src="{{ 'Grid1.jpg' | asset_url }}" nopin="nopin" />
					<div class="grid-info {{ settings.grid_align_1 }} dbl_line">
						<h2>{{ settings.grid_title_one }}</h2>
						<p>{{ settings.grid_text_one }}</p>
					</div>
					</a>
				</div>
				
			</div>
	
		</div> 