<div class="grid-item large--one-whole medium--one-whole small--one-whole text-center pad_btm mob_btm">
				
				<div class="grid-box smlbox">
<!-- 				<a href="/pages/{{ settings.video_link }}" style="color:{{ settings.colorVideo }};"> -->
				<a href="https://player.vimeo.com/video/80055861" style="color:{{ settings.colorVideo }};" target="_blank">
					<img class="grid-img" src="{{ 'GridVideo.jpg' | asset_url }}" nopin="nopin" />
					<div class="grid-info {{ settings.grid_align_video }} colourVideo">
						<h2>{{ settings.grid_title_video }}</h2>
						<p>{{ settings.grid_text_video }}</p>
					</div>
				</a>	
				
				</div>
				
			</div>