<div class="grid-box promo">
			<a href="collections/{{ settings.promo_collection }}" style="color:{{ settings.colorPromo }};">
				<img class="grid-img" src="{{ 'GridPromo.jpg' | asset_url }}" nopin="nopin" />
				<div class="grid-info {{ settings.grid_align_promo }} colourPromo">
					<h2>{{ settings.grid_title_promo }}</h2>
					<p>{{ settings.grid_text_promo }}</p>
				</div>
			</a>	
			
		</div>