<div class="grid">

  <div class="grid-item large--two-thirds push--large--one-sixth">

    <div class="page-header pad_push_top">
      <h2 class="info">{{ page.title }}</h2>
    </div>

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    
    <div class="rte">
      
      {{ page.content }}
      
    <hr />
      
      <h2 class="vid">{{ settings.videoOne_Title }}</h2>
      {{ settings.videoOne }}
      
    <hr />
      
      <h2 class="vid">{{ settings.videoTwo_Title }}</h2>
      {{ settings.videoTwo }}
      
    <hr />
      
      <h2 class="vid">{{ settings.videoThree_Title }}</h2>
      {{ settings.videoThree }}
      
    <hr />
      
      <h2 class="vid">{{ settings.videoFour_Title }}</h2>
      {{ settings.videoFour }}
      
    <hr />
      
      <h2 class="vid">{{ settings.videoFive_Title }}</h2>
      {{ settings.videoFive }}
    
	<hr />
    
    </div>

  </div>

</div>