<div class="grid pad_push_top">

<div class="grid-item one-whole">
  
  <div class="royalSlider rsDefault">
    
    <!-- DEVICE CHECKER INTRODUCTION / OPT OUT - #DeviceCheck-1 -->
        
    <!-- BRAND SELECT PAGE - #DeviceCheck-1 -->
    
    <div class="rsContent">
	    
	    <div class="grid sml_push_top">
		    
		    <div class="grid-item one-whole devTitle">
					<h1>SELECT YOUR DEVICE</h1>
		    </div>
		    	    
		    <div class="grid-item one-third medium--one-half small--one-whole">
			    
			    <div class="">
				    <div class="nook">
					    <a href="#DeviceCheck-2">&nbsp;</a>
					</div>
			    </div>
		    
		    </div>  
		      
			<div class="grid-item one-third medium--one-half small--one-whole">
				
			    <div class="">
				    <div class="kindle">
					    <a href="#DeviceCheck-6">&nbsp;</a>
					</div>
				</div>
			
			</div>
			
			<div class="grid-item one-third medium--one-half small--one-whole">
			    	
				<div class="">
					<div class="kobo">
						<a href="#DeviceCheck-10">&nbsp;</a>
					</div>
				</div>

		    </div>
			
			<div class="grid-item one-third medium--one-half small--one-whole">
				
				<div class="">
					<div class="sony">
					    <a href="#DeviceCheck-3">&nbsp;</a>
					</div>
				</div>
			
			</div>
			
			<div class="grid-item one-third medium--one-half small--one-whole">
					
				<div class="">
					<div class="samsung">
					    <a href="#DeviceCheck-8">&nbsp;</a>
				    </div>
				</div>
		    
		    </div>
			
			<div class="grid-item one-third medium--one-half small--one-whole">
			    	
				<div class="">
					<div class="nexus">
						<a href="#DeviceCheck-5">&nbsp;</a>
					</div>
				</div>
			
		    </div>
		    
		    <div class="grid-item one-third medium--one-half small--one-whole">
			    
			    <div class="">
					<div class="apple">
						<a href="#DeviceCheck-4">&nbsp;</a>
					</div>
			    </div>
			
		    </div>
		    
		    <div class="grid-item one-third medium--one-half small--one-whole">
			        
			    <div class="">
					<div class="hudl">
						<a href="#DeviceCheck-9">&nbsp;</a>
					</div>
				</div>
			
		    </div>
		    
		    <div class="grid-item one-third medium--one-half small--one-whole">
			        
			    <div class="">
				    <a href="http://klevercase.co.uk/collections/ereader-tablet"><h5 class="cent skip">Or, Skip this step to see all cover size options</h5></a>
			    </div>
			
		    </div>
		    
	    </div>
	    
    </div>
    
    <!-- SIZE SELECT PAGE - NOOK - #DeviceCheck-2 -->
    
    <div class="rsContent">
        
        <div class="grid sml_push_top">
		    
		    <div class="grid-item one-whole devTitle">
				<h1 style="text-align: center;">SELECT DEVICE SIZE</h1>
			</div>
		
        </div>
		
		<div class="grid">
		    
		    <div class="grid-item one-whole">
			    
				<a href="#DeviceCheck-11">
					<div class="contbox one">
					
						<div class="col1">
							<img src="{{ '6Inch_Icon.png' | asset_url }}"/>
				  		</div>
				  		
				  		<div class="col2">
				  			<div class="featText">
								  <p><span class="model"><strong>Devices with 6 Inch screen</strong></span> - Max size 180mm x 125mm<br/>
								  Including:<br />
								  <strong>Nook</strong> GlowLight, Simple Touch</p>
							</div>
				  		</div>
			  		
		  			</div>	
		  		</a>
		  		
		    </div>
					    
		    <div class="grid-item one-whole">
			
				<a href="#DeviceCheck-12">
					<div class="contbox two">
					
						<div class="col1">
							<img src="{{ '7Inch_Icon.png' | asset_url }}"/>
						</div>
						
						<div class="col2">
							<div class="featText">
								<span class="model"><strong>Devices with 7 Inch Colour screen</strong></span> - Max size 200mm x 140mm<br/>
								Including:<br /> 
								  <strong>Nook</strong> HD 7"
							</div>
						</div>
				
		  			</div>
		  		</a>
		  		
		    </div>
	  		
		    <div class="grid-item one-whole">
			    
				<div class="contbox un three">
			
					<div class="col1">
						<img src="{{ 'Unsuported_Icon.png' | asset_url }}"/>
				  	</div>
				  
				  	<div class="col2">
					  <div class="featText">
						  <h4>UNSUPPORTED DEVICES</h4>
						  <p>Unfortunately, if your device has a power button 
							  located on the back of the device or is larger than 
							  7 inches (diagonaly), we do not currently make a case 
							  compatible with your device.</p>
					  </div>
				  	</div>
		  	
				</div>
		  		
		    </div>
		
		</div>
	    
	</div>
    
    <!-- SIZE SELECT PAGE - SONY - #DeviceCheck-3 -->
    
    <div class="rsContent">
      <div class="contnr">
		
		<div class="devTitle sml_push_top">
			<h1>SELECT DEVICE SIZE</h1>
		</div>
		
		<a href="#DeviceCheck-11">
			<div class="contbox one">	
			
				<div class="col1">
					<img src="{{ '6Inch_Icon.png' | asset_url }}"/>
		  		</div>
		  		
		  		<div class="col2">
		  			<div class="featText">
						  <p><span class="model"><strong>Devices with 6 Inch screen</strong></span> - Max size 180mm x 125mm<br/>
						  Including:<br />
						  <strong>Sony</strong> PRS-T3<br />
					</div>
		  		</div>
		  	
		  	
		  		
	  		</div>
	    </a>
<!--
	    <div class="contbox two">
			
			<div class="col1">
				<a href="#DeviceCheck-12"><img src="{{ '7Inch_Icon.png' | asset_url }}"/></a>
			</div>
			
			<div class="col2">
				<div class="featText">
					<span class="model"><strong>Devices with 7 Inch Colour screen</strong></span> - Max size 200mm x 140mm<br/>
				</div>
			</div>
		
  		</div>
-->
  		
	    <div class="contbox un two">
			
			<div class="col1">
				<img src="{{ 'Unsuported_Icon.png' | asset_url }}"/>
		  	</div>
		  
		  	<div class="col2">
			  <div class="featText">
				  <h4>UNSUPPORTED DEVICES</h4>
				  <p>Unfortunately, if your device has a power button 
					  located on the back of the device or is larger than 
					  7 inches (diagonaly), we do not currently make a case 
					  compatible with your device.</p>
			  </div>
		  	</div>
		  	
		</div>
	    
	  </div>
    </div>
    
    <!-- SIZE SELECT PAGE - APPLE - #DeviceCheck-4 -->
    
    <div class="rsContent">
        <div class="contnr">
	        
	    <div class="devTitle">
		    <h1>SELECT DEVICE SIZE</h1>
		</div>
		
<!--
		<div class="contbox one">
			
			<div class="col1">
				<a href="#DeviceCheck-11"><img src="{{ '6Inch_Icon.png' | asset_url }}"/></a>
	  		</div>
	  		
	  		<div class="col2">
	  			<div class="featText">
					  <p><span class="model"><strong>Devices with 6 Inch screen</strong></span> - Max size 180mm x 125mm<br/>
				</div>
	  		</div>
	  		
  		</div>
-->
	    
	    <a href="http://klevercase.co.uk/collections/ereader-tab/ipad">
		    <div class="contbox one">
				
				<div class="col1">
					<img src="{{ '7Inch_Icon.png' | asset_url }}"/>
				</div>
				
				<div class="col2">
					<div class="featText">
						<span class="model"><strong>Devices with 7 Inch Colour screen</strong></span> - Max size 200mm x 140mm<br/>
						Including:<br />
						  <strong>Apple</strong> iPad Mini 1, 2, 3 and Retina
					</div>
				</div>
			
	  		</div>
  		</a>
  		
	    <div class="contbox un two">
			
			<div class="col1">
				<img src="{{ 'Unsuported_Icon.png' | asset_url }}"/>
		  	</div>
		  
		  	<div class="col2">
			  <div class="featText">
				  <h4>UNSUPPORTED DEVICES</h4>
				  <p>Unfortunately, if your device has a power button 
					  located on the back of the device or is larger than 
					  7 inches (diagonaly), we do not currently make a case 
					  compatible with your device.</p>
			  </div>
		  	</div>
		  	
		</div>
	    
	</div>
    </div>
    
    <!-- SIZE SELECT PAGE - NEXUS - #DeviceCheck-6 -->
    
    <div class="rsContent">
        <div class="contnr">
		
		<div class="devTitle sml_push_top">
			<h1>SELECT DEVICE SIZE</h1>
		</div>
		
<!--
		<div class="contbox one">
			
			<div class="col1">
				<a href="#DeviceCheck-11"><img src="{{ '6Inch_Icon.png' | asset_url }}"/></a>
	  		</div>
	  		
	  		<div class="col2">
	  			<div class="featText">
					  <p><span class="model"><strong>Devices with 6 Inch screen</strong></span> - Max size 180mm x 125mm<br/>
				</div>
	  		</div>
	  		
  		</div>
-->
	    
	    <a href="#DeviceCheck-12">
		    <div class="contbox one">
				
				<div class="col1">
					<img src="{{ '7Inch_Icon.png' | asset_url }}"/>
				</div>
				
				<div class="col2">
					<div class="featText">
						<span class="model"><strong>Devices with 7 Inch Colour screen</strong></span> - Max size 200mm x 140mm<br/>
						Including:<br />
						  <strong>Nexus</strong> 7 (1st and 2nd Gen)<br />
					</div>
				</div>
			
	  		</div>
  		</a>
  		
	    <div class="contbox un two">
			
			<div class="col1">
				<img src="{{ 'Unsuported_Icon.png' | asset_url }}"/>
		  	</div>
		  
		  	<div class="col2">
			  <div class="featText">
				  <h4>UNSUPPORTED DEVICES</h4>
				  <p>Unfortunately, if your device has a power button 
					  located on the back of the device or is larger than 
					  7 inches (diagonaly), we do not currently make a case 
					  compatible with your device.</p>
			  </div>
		  	</div>
		  	
		</div>
	    
	</div>
    </div>
    
    <!-- SIZE SELECT PAGE - KINDLE - #DeviceCheck-7 -->
    
    <div class="rsContent">
        <div class="contnr">
		
		<div class="devTitle sml_push_top">
			<h1>SELECT DEVICE SIZE</h1>
		</div>
		
		<a href="#DeviceCheck-7">
			<div class="contbox one">
				
				<div class="col1">
					<img src="{{ '6Inch_Icon.png' | asset_url }}"/>
		  		</div>
		  		
		  		<div class="col2">
		  			<div class="featText">
						  <p><span class="model"><strong>Devices with 6 Inch screen</strong></span> - Max size 180mm x 125mm<br/>
						  Including:<br />
						  	<strong>Kindle</strong> 4th/5th Gen, Paperwhite (inc new 2015 model), Voyage,<br/>
						  	7th Gen, Kindle Touch (2012),<br/>
						  	Fire HD 6 Inch<br />
					</div>
		  		</div>
		  		
	  		</div>
	    </a>
	    
	    <a href="#DeviceCheck-12">
		    <div class="contbox two">
				
				<div class="col1">
					<img src="{{ '7Inch_Icon.png' | asset_url }}"/>
				</div>
				
				<div class="col2">
					<div class="featText">
						<span class="model"><strong>Devices with 7 Inch Colour screen</strong></span> - Max size 200mm x 140mm<br/>
						Including:<br />
						  <strong>Kindle</strong> Fire (non-HD)
						  Fire HD 7 (inc 1st, 2nd, 4th Gen and £49.99 2015 model)<br/>
						  (Not 3rd Gen with button on back)<br />
					</div>
				</div>
			
	  		</div>
  		</a>
  		
	    <div class="contbox un three">
			
			<div class="col1">
				<img src="{{ 'Unsuported_Icon.png' | asset_url }}"/>
		  	</div>
		  
		  	<div class="col2">
			  <div class="featText">
				  <h4>UNSUPPORTED DEVICES</h4>
				  <p>Unfortunately, if your device has a power button <br/>
					  located on the back of the device (Kindle Fire HD7 - 3rd Gen / Kindle Fire HDX)<br/> 
					  or is larger than 7 inches (diagonaly), we do not currently make a case <br/>
					  compatible with your device.</p>
			  </div>
		  	</div>
		  	
		</div>
	    
	</div>
    </div>
    
    <!-- DEVICE SELECT PAGE - KINDLE - #DeviceCheck-7 -->
    
	<div class="rsContent">

		<div class="grid sml_push_top">
			
			<div class="grid-item one-whole devTitle">
					<h1>SELECT KINDLE TYPE</h1>
			</div>
			
			<div class="grid-item one-whole">
				
				<div class="grid">
					
					<div class="grid-item one-third medium--one-whole small--one-whole spaced">
						
						<div class="grid">
							
							<a href="http://klevercase.co.uk/collections/ereader-tab/kindle-45">
								
								<div class="grid-item one-third">
									<img src="{{ 'kindle_4th5th.jpg' | asset_url }}"/>
								</div>
								
								<div class="grid-item two-thirds">
									<div class="featText kin">
										<span class="model"><span class="model"><strong>Kindle 4th or 5th Generation</strong></span></span><br/>
										Features:<br />
										Square Navigation Button Bottom Centre, 
										4th Gen is Grey, 5th Gen is Black
									</div>
								</div>
								
							</a>
								
						</div>
						
					</div>
			
					<div class="grid-item one-third medium--one-whole small--one-whole spaced">
						
						<div class="grid">
							
							<a href="http://klevercase.co.uk/collections/ereader-tab/voyage">
								
								<div class="grid-item one-third">
									<img src="{{ 'kindle_Voyage.jpg' | asset_url }}"/>
								</div>
								
								<div class="grid-item two-thirds">
									<div class="featText kin">
										<span class="model"><strong>Kindle Voyage</strong></span><br/>
										Features:<br />
										Page Turning Bars to Sides & Adjustable Screen Light 
									</div>
								</div>
							
							</a>
							
						</div>
						
					</div>
			
					<div class="grid-item one-third medium--one-whole small--one-whole spaced">
						
						<div class="grid">
						
							<a href="#DeviceCheck-11">
								
								<div class="grid-item one-third">
									<img src="{{ 'kindle_hd6.jpg' | asset_url }}"/>
								</div>
								
								<div class="grid-item two-thirds">
									<div class="featText kin">
										<span class="model"><strong>Fire HD 6</strong></span><br/>
										Features:<br />
										6 Inch Screen, Bevelled Back, Camera Top Right
									</div>
								</div>
							</a>
							
						</div>
						
					</div>
					
				</div>
				
			</div>
			
			<div class="grid-item one-whole">
				
				<div class="grid">
			
					<div class="grid-item one-third medium--one-whole small--one-whole spaced">
						
						<div class="grid">
						
							<a href="http://klevercase.co.uk/collections/ereader-tab/kindle-7">
								
								<div class="grid-item one-third">
									<img src="{{ 'kindle_7thGenTouchScreen.jpg' | asset_url }}"/>
								</div>
								
								<div class="grid-item two-thirds">
									<div class="featText kin">
										<span class="model"><span class="model"><strong>New Kindle 7th Gen Touch Screen</strong></span></span><br/>
										Features:<br />
										Bevelled Back Edge, Large Amazon Logo<br/>
										& Anti Glare Touch Screen
									</div>
								</div>
							
							</a>
							
						</div>
						
					</div>
					
					<div class="grid-item one-third medium--one-whole small--one-whole spaced">
						
						<div class="grid">
						
							<a href="#DeviceCheck-12">
								
								<div class="grid-item one-third">
									<img src="{{ 'kindle_3.jpg' | asset_url }}"/>
								</div>
								
								<div class="grid-item two-thirds">
									<div class="featText kin">
										<span class="model"><strong>Kindle 3</strong></span><br/>
										Features:<br />
										Keyboard at Bottom
									</div>
								</div>
							
							</a>
							
						</div>
						
					</div>
					
					<div class="grid-item one-third medium--one-whole small--one-whole spaced">
						
						<div class="grid">
						
							<a href="http://klevercase.co.uk/collections/ereader-tab/kindle-pw">
								
								<div class="grid-item one-third">
									<img src="{{ 'kindle_Paper.jpg' | asset_url }}"/>
								</div>
								
								<div class="grid-item two-thirds">
									<div class="featText kin">
										<span class="model"><strong>Kindle Paperwhite</strong></span><br/>
										Features:<br />
										Screen Light & No Buttons to Front 
									</div>
								</div>
							
							</a>
							
						</div>
						
					</div>
				
				</div>
			
			</div>
			
			<div class="grid-item one-whole">
				
				<div class="grid">
			
					<div class="grid-item one-third medium--one-whole small--one-whole spaced">
						
						<div class="grid">
						
							<a href="#DeviceCheck-11">
								
								<div class="grid-item one-third">
									<img src="{{ 'kindle_Touch.jpg' | asset_url }}"/>
								</div>
								
								<div class="grid-item two-thirds">
									<div class="featText kin kin">
										<span class="model"><strong>Kindle Touch (2012)</strong></span>
										Features:<br />
										4 Horizontal Lines Button at Bottom
								  	</div>
								</div>
							
							</a>
							
						</div>
						
					</div>
				
				</div>
				
			</div>
			
		</div>
	
	</div>
    
    <!-- SIZE SELECT PAGE - SAMSUNG - #DeviceCheck-8 -->
    
    <div class="rsContent">
        <div class="contnr">
		
		<div class="devTitle sml_push_top">
			<h1>SELECT DEVICE SIZE</h1>
		</div>
		
<!--
		<div class="contbox one">
			
			<div class="col1">
				<a href="#DeviceCheck-11"><img src="{{ '6Inch_Icon.png' | asset_url }}"/></a>
	  		</div>
	  		
	  		<div class="col2">
	  			<div class="featText">
					  <p><span class="model"><strong>Devices with 6 Inch screen</strong></span> - Max size 180mm x 125mm<br/>
				</div>
	  		</div>
	  		
  		</div>
-->
	    
	    <a href="#DeviceCheck-12">
		    <div class="contbox one">
				
				<div class="col1">
					<img src="{{ '7Inch_Icon.png' | asset_url }}"/>
				</div>
				
				<div class="col2">
					<div class="featText">
						<span class="model"><strong>Devices with 7 Inch Colour screen</strong></span> - Max size 200mm x 140mm<br/>
						Including:<br />
						  <strong>Samsung</strong> Galaxy Tab 3 7”<br />
					</div>
				</div>
			
	  		</div>
  		</a>
  		
	    <div class="contbox un two">
			
			<div class="col1">
				<img src="{{ 'Unsuported_Icon.png' | asset_url }}"/>
		  	</div>
		  
		  	<div class="col2">
			  <div class="featText">
				  <h4>UNSUPPORTED DEVICES</h4>
				  <p>Unfortunately, if your device has a power button 
					  located on the back of the device or is larger than 
					  7 inches (diagonaly), we do not currently make a case 
					  compatible with your device.</p>
			  </div>
		  	</div>
		  	
		</div>
	    
	</div>
    </div>
    
    <!-- SIZE SELECT PAGE - HUDL - #DeviceCheck-9 -->
    
    <div class="rsContent">
        <div class="contnr">
		
		<div class="devTitle sml_push_top">
			<h1>SELECT DEVICE SIZE</h1>
		</div>
		
<!--
		<div class="contbox one">
			
			<div class="col1">
				<a href="#DeviceCheck-11"><img src="{{ '6Inch_Icon.png' | asset_url }}"/></a>
	  		</div>
	  		
	  		<div class="col2">
	  			<div class="featText">
					  <p><span class="model"><strong>Devices with 6 Inch screen</strong></span> - Max size 180mm x 125mm<br/>
				</div>
	  		</div>
	  		
  		</div>
-->
	    <a href="#DeviceCheck-12">
		    <div class="contbox one">
				
				<div class="col1">
					<img src="{{ '7Inch_Icon.png' | asset_url }}"/>
				</div>
				
				<div class="col2">
					<div class="featText">
						<span class="model"><strong>Devices with 7 Inch Colour screen</strong></span> - Max size 200mm x 140mm<br/>
						Including:<br />
						  <strong>HudL</strong><br />
					</div>
				</div>
			
	  		</div>
  		</a>
  		
	    <div class="contbox un two">
			
			<div class="col1">
				<img src="{{ 'Unsuported_Icon.png' | asset_url }}"/>
		  	</div>
		  
		  	<div class="col2">
			  <div class="featText">
				  <h4>UNSUPPORTED DEVICES</h4>
				  <p>Unfortunately, if your device has a power button 
					  located on the back of the device or is larger than 
					  7 inches (diagonaly), we do not currently make a case 
					  compatible with your device.</p>
			  </div>
		  	</div>
		  	
		</div>
	    
	</div>
    </div>
    
	<!-- SIZE SELECT PAGE - KOBO - #DeviceCheck-10 -->
    
    <div class="rsContent">
        <div class="contnr">
		
		<div class="devTitle">
			<h1>SELECT DEVICE SIZE</h1>
		</div>
		
		<a href="#DeviceCheck-11">
			<div class="contbox one">
				
				<div class="col1">
					<img src="{{ '6Inch_Icon.png' | asset_url }}"/>
		  		</div>
		  		
		  		<div class="col2">
		  			<div class="featText">
						  <p><span class="model"><strong>Devices with 6 Inch screen</strong></span> - Max size 180mm x 125mm<br/>
						  Including:<br />
						  <strong>Kobo</strong> Mini, Touch, Glo, Aura and Aura HD<br />
					</div>
		  		</div>
		  		
	  		</div>
	    </a>
	    
	    <a href="#DeviceCheck-12">
		    <div class="contbox two">
				
				<div class="col1">
					<img src="{{ '7Inch_Icon.png' | asset_url }}"/>
				</div>
				
				<div class="col2">
					<div class="featText">
						<span class="model"><strong>Devices with 7 Inch Colour screen</strong></span> - Max size 200mm x 140mm<br/>
						Including:<br />
						  <strong>Kobo</strong> Arc 7, Arc HD 7
					</div>
				</div>
			
	  		</div>
  		</a>
  		
	    <div class="contbox un three">
			
			<div class="col1">
				<img src="{{ 'Unsuported_Icon.png' | asset_url }}"/>
		  	</div>
		  
		  	<div class="col2">
			  <div class="featText">
				  <h4>UNSUPPORTED DEVICES</h4>
				  <p>Unfortunately, if your device has a power button 
					  located on the back of the device or is larger than 
					  7 inches (diagonaly), we do not currently make a case 
					  compatible with your device.</p>
			  </div>
		  	</div>
		  	
		</div>
	    
	</div>
    </div>
    
    <!-- SIZE SELECT PAGE - NEXUS - #DeviceCheck-11 -->
    
    <div class="rsContent">
		<div class="sml_push_top">
	        <div class="fit"><h1 class="sizing">YOUR PERFECT FIT IS</h1></div>
			<div class="size"><h1 class="sizing orange">KLEVERCASE > SIZE 1</h1></div>
			<div class="find">
				<a class="find_btn" href="http://klevercase.co.uk/collections/ereader-tab/size-1">
					<div>
						<h1 class="sizing_btn">FIND CASES FOR YOUR DEVICE NOW ></h1>
					</div>
				</a>
			</div>
		</div>
    </div>
	
	<!-- SIZE SELECT PAGE - NEXUS - #DeviceCheck-12 -->
    
    <div class="rsContent">
	    <div class="sml_push_top">
	        <div class="fit"><h1 class="sizing">YOUR PERFECT FIT IS</h1></div>
			<div class="size"><h1 class="sizing orange">KLEVERCASE > SIZE 2</h1></div>
			<div class="find">
				<a class="find_btn" href="http://klevercase.co.uk/collections/ereader-tab/size-2">
					<div>
						<h1 class="sizing_btn">FIND CASES FOR YOUR DEVICE NOW ></h1>
					</div>
				</a>
			</div>
	    </div>
    </div>

	
  </div>	

</div>

</div>